.locations {
  background: #FFD74B;
  border-radius: 0 0 30px 30px;
}

.location__wrapper {
  padding: 0 25px;
}

@media (min-width:768px) {
  .location__wrapper {
    padding: 0 75px;
  }
}

@media (min-width: 1440px) {
  .location__wrapper {
    display: flex;
    padding: 0;
    padding-left: 283px;
    padding-right: 135px;
  }
}

.locations__inner {
  display: flex;
}

.locations__img {
  background: #121936;
  border-radius: 50%;
}

.locations__address {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #1D2E5B;
}

@media (min-width:768px) {
  .locations__address {
    font-size: 28px;
    line-height: 1;
  }
}

.locations__button {
  border: 3px solid #192144;
}

@media (min-width:768px) {
  .locations__button {
    font-size: 24px;
    line-height: 1;
  }
}