.profile-tablet {
	display: none;

	@media (min-width: 768px) and (max-width: 1439px) {
		position: relative;
		display: block;
    background: #EDEFF6;
		margin-top: -60px;
  }

	&__wrapper {
		padding: 122px 75px 75px;
	}

	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}

	&__image {
		border-radius: 20px;
	}

	&__button {
		display: block;
		padding: 20px 50px;
		margin-bottom: 72px;
		width: 100%;
		font-weight: 500;
		font-size: 20px;
		line-height: 18px;
		text-align: center;
		text-transform: uppercase;
		color: #161C35;
		background: #DFE3F0;
		border-radius: 20px;
		border: none;
	}

	&__button:hover {
		background:  #D1D7E9;
	}

	&__button:active {
		background:   #DFE3F0;
		color: rgba(22, 28, 53, 0.3);
	}

	&__title {
		transform: rotate(180deg);
		font-weight: 700;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.08em;
		text-align: center;
		text-transform: uppercase;
		color: #1D2E5B;
	}

	&__tag {
		margin-bottom: 25px;
		padding: 25px;
	}

	&__text {
		display: flex;
		justify-self: right;
		justify-content: left;
		transform: rotate(180deg);
		max-width: 100%;
		font-weight: 400;
		font-size: 20px;
		line-height: 22px;
		opacity: 0.6;
		
		background-color: transparent;
		border: none;
	}

	&__transport {
		padding: 0;
	}

	&__transport-block {
		transform: rotate(180deg);
		display: flex;
		justify-content: center;
		padding: 26px 68px 15px;
	}

	&__transport-img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		background-color: #FFFFFF;
		border-radius: 50%;
	}

	&__transport-icon:hover {
		opacity: 0.7;
	}

	&__transport-img:active {
		opacity: 0.3;
	}
}

.frame-tablet {
	transform: rotate(180deg);
	border:1px solid #CBCED9;
		border-radius: 10px;
	}

.frame-tablet:hover {
	border:1px solid #AEB4CB;
	}
	
.frame-tablet:active {
	border:1px solid #161C35;
}


.level-box-profile-tablet {
	position: relative;
	align-self: center;

	&__image {
		width: 96px;
		height: 96px;
		overflow: initial;
		transform: rotate(-90deg);
	}

	&__circle-full {
		fill: none;    
		stroke: #EDEFF6;
		stroke-width: 3px;
	}

	&__circle-percent {
		position: relative;
		z-index: 1;
		fill: none;
		stroke: #FF8D30;
		stroke-width: 3px;
		stroke-dasharray: 282.6;
	}

	&__discription {
		position: absolute;
		transform: translate(60%, -100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__discription-number {
		position: relative;
		display: block;
		font-weight: 700;
		font-size: 38px;
		line-height: 38px;
		text-align: center;
		color: #161C35;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__discription-number::after {
		content: "";
		position: absolute;
		width: 50px;
		height: 2px;
		top: 40px;
		left: -10px;
		color: rgba(255, 255, 255, 0.3);
		transform: translate(-50%, -50%);
	}

	&__discription-text {
		display: block;
		font-weight: 400;
		font-size: 18px;
		line-height: 1;
		color: #444444;
		top: 50%;
		left: 50%;
		transform: translate(0%, -100%);
	}  
}
