.profile {
  background: #E5E5E5;
}

.profile__level-number {
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: #161C35;
}

.profile__level-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.profile__block-image {
  border-radius: 50%;
}

.profile__button {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #161C35;
  background: #DFE3F0;
  border-radius: 20px;
  border: none;
}

.profile__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #1D2E5B;
}

.profile__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.6;
  background-color: transparent;
}