img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1D2E5B;
  background: #FFD74B;
  border-radius: 10px;
}

@media (min-width:768px) {
  .button {
    font-size: 24px;
    line-height: 1;
  }
}

.title {
  font-weight: 700;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;  
  color: #FF8D30;
}

@media (min-width:768px) {
  .title {
    font-size: 45px;
  }
}

.login {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #161C35;
  background: #FFD74B;
  border-radius: 25px;
}

.contaner-catalog {
  background: #E5E5E5;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;
}

